/* Estilos básicos e variáveis CSS */
:root {
  --background-color: #EAEBEC;
  --button-color: #425062;
  --button-hover-color: #E0B612;
  --text-color: #fff;
  --border-color: #3C4857;
  --screen-background: #3A4655;
  --text-operator: #26a69a;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--background-color);
  margin: 0; /* Remove a margem padrão */
}

.container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh;
  width: 100%;
}

.calc-body {
  width: 500px; /* Largura máxima */
  border: 1px solid #3a4655;
  box-shadow: 0 8px 50px -7px #000;
}

.calc-screen {
  background: var(--screen-background);
  width: 100%;
  height: 200px;
  padding: 20px;
}

.calc-operation {
  min-height: 2.7rem;
  text-align: right;
  color: #727B86;
  font-size: 21px;
  padding-bottom: 10px;
  border-bottom: dotted 1px;
  overflow: hidden;
}

.calc-typed {
  overflow-x: auto; /* Permite rolagem horizontal */
  overflow-y: hidden; /* Oculta rolagem vertical */
  font-size: 2.3rem;
  min-height: 4rem;
  width: 85%;
  margin-top: 20px;
  text-align: right;
  color: var(--text-color);
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1); /* Firefox */
}

/* Estilizando a barra de rolagem horizontal para navegadores WebKit */
.calc-typed::-webkit-scrollbar {
  height: 8px; /* Altura da barra de rolagem horizontal */
}

.calc-typed::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Cor do trilho */
}

.calc-typed::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* Cor do polegar */
  border-radius: 4px; /* Bordas arredondadas */
}

.calc-typed::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3); /* Cor do polegar ao passar o mouse */
}

.calc-button-row {
  width: 100%;
  background: #3C4857;
}

.button, .buttonB {
  background: var(--button-color);
  color: var(--text-color);
  padding: 20px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin-right: -4px;
  border-right: solid 2px var(--border-color);
  border-bottom: solid 2px var(--border-color);
  width: 25%; /* Default width for buttons */
  cursor: pointer;
}

.buttonB{
  width: 49%; /* Special width for the zero button */
}

.button.l {
  color: var(--text-operator);
  background: #404D5E;
}

.button.c {
  color: #d94e5f;
  background: #404D5E;
}

.button.l.final {
  background-color: var(--text-operator);
  color: var(--text-color);
}

.button:hover, .button.c:hover, .button.l:hover {
  background: var(--button-hover-color);
  color: var(--text-color);
}

.painel {
  display: flex;
}

.painel .button {
  color: #4caf50;
  background: #394655;
  margin-top: 10px;
  border: 0px;
}

/* Dispositivos menores */
@media(max-width: 768px) {
  .calc-body {
    width: 100%;
    height: 100vh;
    background-color: var(--screen-background);
  }

  .calc-screen {
    background: var(--screen-background);
    width: 100%;
    height: 37.7vh;
    padding: 2vh;
  }

  .calc-operation {
    height: 10vh;
    overflow: hidden;
    text-align: right;
    color: #727B86;
    font-size: 21px;
    padding-bottom: 10px;
    border-bottom: dotted 1px;
  }

  .calc-typed {
    min-height: 2vh;
    font-size: 2.3rem;
    width: 85%;
    margin-top: 10vh;
    overflow-x: auto; /* Permite rolagem horizontal */
    overflow-y: hidden; /* Oculta rolagem vertical */
    text-align: right;
    color: var(--text-color);
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1); /* Firefox */
  }

  .calc-typed::-webkit-scrollbar {
    height: 8px; /* Altura da barra de rolagem horizontal */
  }

  .calc-typed::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Cor do trilho */
  }

  .calc-typed::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Cor do polegar */
    border-radius: 4px; /* Bordas arredondadas */
  }

  .calc-typed::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3); /* Cor do polegar ao passar o mouse */
  }

  .painel .button {
    margin-top: 7vh;
  }

  .calc-button-row {
    width: 100%;
    background: #3C4857;
  }

  .button,
  .buttonB {
    background: var(--button-color);
    color: var(--text-color);
    padding: 4vh;
    display: inline-block;
    font-size: 2.5vh;
    text-align: center;
    font-weight: 700;
    vertical-align: middle;
    margin-right: -4px;
    border-right: solid 2px var(--border-color);
    border-bottom: solid 2px var(--border-color);
    width: 25%;
    /* Default width for buttons */
    cursor: pointer;
  }

  .buttonB {
    width: 49%;
    /* Special width for the zero button */
  }

  .button.l {
    color: #AEB3BA;
    background: #404D5E;
  }

  .button.c {
    color: #D95D4E;
    background: #404D5E;
  }

  .button:hover,
  .button.c:hover,
  .button.l:hover {
    background: var(--button-hover-color);
    color: var(--text-color);
  }
}